
body {
    font-family: Arial, sans-serif;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #419b44;
    margin-bottom: 18px;
}

form {
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label {
    margin-top: 10px;
    font-weight: bold;
    color: #120101;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: inset 0 1px 3px rgba(19, 17, 17, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}


button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(135deg, #4CAF50 0%, #8BC34A 100%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    transform: scale(1.05);
}

.back-to-login-link {
    display: block;
    margin-top: 10px;
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    text-align: center;
    color: #419b44;
    margin-bottom: 2px;
}

.back-to-login-link:hover {
    color: #2980b9;
    text-decoration: underline;
}